@(assemblies: models.AssemblyCollection)
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-8" ng-view>
		<table class="table">
			<tr class="warning">There are no assemblies in this hub
			</tr>
		</table>

		@display(assembly: models.Assembly) = {
		  @assembly.getName()($@assembly.getDescription()) 
		}


		@if(assemblies.isEmpty()) {
		<h1>There are no assemblies in this hub!</h1>
		} else {
		<h1>@assemblies.size() assemblies found in this hub!</h1>
		
        <ul>
          @for(assembly <- assemblies) { @display(assembly) }
        </ul>
		}
	</div>
</div>
