@(title: String)(content: Html)

<!doctype html>
<html lang="en" ng-app="appCivist">
    <head>
        <meta charset="utf-8">
        <title>@title</title>
<!--         <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
 -->        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/css/bootstrap-theme.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
		
    </head>
    <body>
        @content
    </body>
</html>