*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# Play related files to ignore
logs
project/project
project/target
target
tmp
dist
.cache
.classpath
.project
appcivist-core/app/models/A.java
appcivist-core/app/models/B.java
conf/application.conf
conf/evolutions
conf/local.conf
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

*.classpath
*.project
*.tern-project
/tests
/appcivist-core


conf/play-authenticate/mine.heroku.conf
conf/play-authenticate/mine.local.conf
conf/play-authenticate/smtp.heroku.conf
conf/play-authenticate/smtp.local.conf
project/activator-sbt-echo-shim.sbt
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
test/outputs/demo-1-console-output-example.txt
test/outputs/demo-2-console-output-example.txt
conf/initial-data/json-examples/mapbox-api-calls.txt
conf/initial-data/json-examples/shareabouts.json
.cache-main
.cache-tests
